.bin {
	display: flex; flex-direction: column; justify-content: flex-start;
	margin: .5rem; height: 5rem; width: 4rem; padding: .2rem; position: relative;
	border-radius: 10px; box-shadow: 3px 5px 5px #444;
	background-color: #EEE;
	text-align: center; text-transform: capitalize; font-size: .8rem; text-transform: capitalize;
	transition: color .5s ease-in-out;
	z-index: 1; list-style-type: none;
}

.bin.pending {
	background-color: blue;
}

.bins {
	display: flex; padding: 0 1vw;
	flex-direction: row; justify-content: flex-start; flex-wrap: wrap; align-content: center; align-items: center;
}

.edit .bins li {
	font-size: .8rem;
	box-shadow: none;
}

#add-bin {
	position: relative; right: 5.4rem;
	justify-content: center;
	z-index: 0;
	box-shadow: none;
	transition: right .5s, bottom .5s;
}

.edit .bins li.selected {
	box-shadow: 3px 5px 5px #444;
}

.completeLine #add-bin {
	right: 0; bottom: 6.4rem;
}

.edit #add-bin {
	right: 0; bottom: 0;
}

.add #add-bin {
	box-shadow: 3px 5px 5px #444;
}

.position {
	position: absolute; top: 0; left: 0; width: 1.2rem; height: 1.2rem;
	border: 1px solid black; border-radius: 50%;
	background-color: #EEE;
}

svg {
	display: block; margin: 0 auto; width: auto; height: auto;
	border-radius: 10px;
	background-color: #FF2727;
}

.bin.available svg{
	background-color: #28D628;
}

.edit .bin svg {
	background-color: #EEE;
}

.bin.selected, #add-bin.selected {
	box-shadow: 3px 5px 5px #444;
	/*height: 5.5rem; margin-bottom: 0;
	border-bottom-left-radius: 0; border-bottom-right-radius: 0;
*/}

.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}