body {
	overflow: hidden;
	cursor: none;
}

#app {
	display: flex; width: 100vw; height: 100vh;
	flex-direction: column;
}

#manager {
	height: 100vh; left: 0;
	background-color:  #353535;
	transition: left .7s ease;
	/*z-index: 2;*/
}

.panel-open #manager {
	/*left: -100vw;*/
}

#footer.edit, #manager.edit {
	background-color: #77aaff;
}

#bin-manager > div:last-child {
	position: absolute; bottom: 0; right: 0; left: 0; padding: 0 .5rem;
}

#bin-manager .bins{
	height: 90%;
}

#edit-bins-button, #cancel-bins-button {
	position: absolute; bottom: .5rem; right: .5rem; width: 5rem; padding: 1rem 0;
	border: 1px solid black; border-radius: 5px;
	background-color: #EEE;
	font-size: .8rem; text-align: center;
	/*z-index: 2;*/
}

.edit #edit-bins-button {
	color: #28D628; font-weight: bold;
}

.edit #cancel-bins-button {
	right: 6.5rem;
	color: #FF2727; font-weight: bold;
}

#infos {
	width: 50vw;
	font-size: .7rem; font-style: italic;
	background-color: rgba(180, 180, 180, 0.3);
	/*z-index: 4;*/
}

#footer {
	position: absolute; height: 10vh; bottom: 0; right: 0; left: 0;
	background-color: #353535;
	display: none;
	/*z-index: 1;*/
}

.edit #footer {
	background-color: #77aaff;
}