.bins {
	display: flex;
	flex-direction: row; justify-content: left; flex-wrap: wrap;
}

.bins li {
	display: flex; flex-direction: column; justify-content: center;
	margin: .5rem; width: 4rem; padding: .2rem; position: relative;
	border-radius: .8rem;
	background-color: #EEE;
	cursor: pointer;
	list-style-type: none;
	text-align: center; text-transform: capitalize;
}

.bins li div:last-child {
	cursor: pointer;
	font-size: .8rem;
}

.position {
	position: absolute; top: 0; left: 0; width: 1.2rem; height: 1.2rem;
	border: 1px solid black; border-radius: 50%;
	background-color: #EEE;
}

svg {
	display: block; margin: 0 auto; width: auto; height: auto; /*position: absolute; top: 0; left: 0;*/
}

.bin.available svg{
	color: blue; stroke: blue; fill: blue;
}

.bin.selected, #add-bin.selected {
	border-color: green;
}

.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}