.bins {
	display: flex;
	flex-direction: row; justify-content: left; flex-wrap: wrap;
}

.bins li {
	margin: .5rem;
	list-style-type: none;
	text-align: center;
}

.bins li div div:last-child {
	cursor: pointer;
	font-size: .8rem;
}

.bin {
	display: flex; flex-direction: column; justify-content: center; width: 4rem; height: 6rem; padding: .2rem;
	border: 3px solid #EEE; border-radius: 5px; padding: 2px;
	background-color: #EEE;
	cursor: pointer; text-transform: capitalize;
}

svg {
	display: block; margin: 0 auto; width: 4rem; height: 4rem;
}

.bin.available svg{
	color: blue; stroke: blue; fill: blue;
}

.bin.selected, #add-bin.selected {
	border-color: green;
}

.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}