

.bins {
	display: flex;
	flex-direction: row;
}

.bins li {
	margin: .5rem 2rem; padding: .5rem;
	list-style-type: none;
}

.bins li div:last-child {
	cursor: pointer;
}

.bin {
	outline: 1px solid black; padding: .2rem;
	cursor: pointer;
}

svg {
	width: 5rem; height: 5rem;
}

.bin.available {
	color: blue; stroke: blue; fill: blue;
}

.bin.selected, #add-bin.selected {
	outline: 2px solid green;
}

.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}