#editor {
	width: 100vw; height: 24vh;
	position: absolute; top: 92vh;
	font-size: .8rem;
	background-color: #EEE;
	transition: top .7s ease;
	z-index: 0;
}

.panel-open #editor {
	top: 60vh;
}

#delete-button {
	display: inline-block; position: absolute; bottom: 0; right: 0;
	z-index: 2;
}

#editor ul {
	display: flex;
	flex-direction: row; justify-content: space-around; flex-wrap: wrap; align-content: flex-start;
	font-size: 1.2rem; line-height: 1rem;
	background-color: #EEE;
}

#editor span {
	display: block; position: relative;
	background-color: #EEE;
	z-index: 2;
}

#editor .bins {
	position: relative; height: 20vh;
	z-index: 1; overflow-y: scroll;
}

#editor .bins li {
	text-transform: capitalize;
}

.current{
	color: #BBB; stroke: #BBB; fill: #BBB;
}

.positions{
	position: absolute; top: 13vh; left: 0; right: 0; height: 11vh;
	list-style-type: none; z-index: 0;
	transition: top .5s;
}

.positions.visible {
	top: 23vh;
}

.positions li {
	display: inline-block; margin: .2rem; padding: .2rem;
	cursor: pointer;
}

.positions li.assigned {
	color: orange;
}

.positions li.selected {
	color: #EEE;
	background-color: #111;
	border-radius: 5px;
}