.current{
	color: #BBB; stroke: #BBB; fill: #BBB;
}

.positions {
	list-style-type: none;
}

.positions li {
	display: inline-block; margin: .2rem; padding: .2rem;
	font-size: 3rem;
	cursor: pointer;
}

.positions li.assigned {
	color: orange; font-size: 2rem;
}

.positions li.selected {
	border: 1px solid black; border-radius: 50%;
}