#editor {
	width: 100vw; /*height: 23vh;*/
	position: absolute; top: 94vh;
	font-size: .8rem;
	background-color: #EEE;
	transition: top .7s ease;
	z-index: 0;
}

.panel-open #editor {
	top: 60vh;
}

#delete-button {
	display: inline-block; position: relative; margin: -9vh auto; margin-bottom: .4rem; padding: .1rem 1.1rem; /*width: 200px;*/
	border: 1px solid black; border-radius: 5px;
	background-color: #EEE;
	font-size: .8rem; color: #E00; text-align: center;
	transition: margin-top .5s;
}

#editor ul {
	display: flex;
	flex-direction: row; justify-content: space-around; flex-wrap: wrap; align-content: flex-start;
	font-size: 1.2rem; line-height: 1rem;
	background-color: #EEE;
}

#editor span {
	display: block; position: relative;
	background-color: #EEE;
	z-index: 2;
}

#editor .bins {
	position: relative; height: 16vh;
	z-index: 1; overflow-y: scroll; overflow-x: hidden;
}

#editor .bins li {
	text-transform: capitalize;
	height: 4rem;
	width: 3rem;
}

.current{
	color: #BBB; stroke: #BBB; fill: #BBB;
}

.positions{
	position: relative; margin-top: -9vh;
	list-style-type: none; z-index: 0;
	transition: margin-top .5s;
}

.positions.visible, #delete-button {
	margin-top: 0;
	/*top: 19vh;*/
}

.positions li {
	display: inline-block; margin: .2rem; padding: .2rem;
	cursor: pointer;
}

.positions li.assigned {
	color: orange;
}

.positions li.selected {
	color: #EEE;
	background-color: #111;
	border-radius: 5px;
}