#app {
	display: flex; width: 100vw; height: 100vh;
	flex-direction: column;
	background-color:  #CCC;
}

#app.edit, #footer.edit, #bin-manager.edit {
	background-color: #77aaff;
}

#bin-manager {
	height: 60vh;
	z-index: 2;
}

#bin-manager > div:last-child {
	position: absolute; bottom: 0; right: 0; left: 0; padding: 0 .5rem;
}

#edit-bins-button, #cancel-bins-button {
	position: absolute; bottom: .5rem; right: .5rem; width: 5rem;
	border: 1px solid black; border-radius: 5px;
	background-color: #EEE;
	font-size: .8rem; text-align: center;
	z-index: 2;
}

#cancel-bins-button {
	right: 6.5rem;
}

#infos {
	width: 50vw;
	font-size: .7rem; font-style: italic;
	background-color: rgba(180, 180, 180, 0.3);
	z-index: 4;
}

#footer {
	position: absolute; height: 6vh; bottom: 0; right: 0; left: 0;
	background-color: #CCC;
	z-index: 1;
}

.edit #footer {
	background-color: #77aaff;
}