#app {
	display: flex; width: 100vw; height: 100vh;
	flex-direction: column;
	background-color:  #CCC;
}

#app.edit, #footer.edit {
	background-color: #77aaff;
}

#bin-manager > div:last-child {
	position: absolute; bottom: 0; right: 0; left: 0; padding: 0 .5rem;
}

#editor {
	width: 100vw; margin: 1rem 0;
	position: absolute; top: 90vh;
	background-color: #EEE;
	transition: top .7s ease;
	z-index: 0;
}

.panel-open #editor {
	top: 50vh;
}

#editor > div:first-child {
	display: inline-block; position: absolute; bottom: 0; right: 0;
}

#editor ul {
	display: flex;
	flex-direction: row; justify-content: center; flex-wrap: wrap;
}

#edit-bins, #cancel-bins {
	position: absolute; bottom: 1rem; right: 1rem; width: 5rem;
	border: 1px solid black; border-radius: 5px;
	background-color: #EEE;
	text-align: center;
	z-index: 2;
}

#cancel-bins {
	right: 6.5rem;
}

#infos {
	width: 50vw;
	font-size: .7rem; font-style: italic;
	background-color: rgba(180, 180, 180, 0.3);
	z-index: 4;
}

#footer {
	position: absolute; height: 10vh; bottom: 0; right: 0; left: 0;
	background-color: #CCC;
	z-index: 1;
}

.edit #footer {
	background-color: #77aaff;
}